<html>
	<head>
		<title>SumItUp - Project Team</title>
		<link rel="icon" href = "https://img.icons8.com/plasticine/100/000000/brief.png"/>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  		<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
	</head>
	<body class='bg-dark'>
		<div class="jumbotron text-center bg-dark">
  			<h1 class="text-warning"><img src="https://img.icons8.com/plasticine/100/000000/brief.png"/> SumItUp : Extractive Text Summarizer</h1>
  			<a href="https://github.com/guptaharshnavin/Graduate-Admission-Chance-Forecaster" class='btn btn-outline-warning'>Project Repository <i class="fa fa-github"></i></a>
    		<a href="https://www.linkedin.com/in/harsh-gupta-b24a93185/" class="btn btn-outline-warning">Development Team</a>
		</div>
		<div class="container text-white content-center">
			<div class="row">
				<h2 class="text-warning text-center col-sm-12"><img src="https://img.icons8.com/color/48/000000/project.png"/> Project Development Team</h2>
			</div>
			<br>
			<div style="width:100%;">
				<div class="LI-profile-badge"  style="float:left;width:23%;margin:1%;padding:10px" data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="harsh-gupta-b24a93185"><a class="LI-simple-link" href='https://in.linkedin.com/in/harsh-gupta-b24a93185?trk=profile-badge'>Harsh Gupta</a></div>
				<div class="LI-profile-badge"  style="float:left;width:23%;margin:1%;" data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="harsh-gupta-b24a93185"><a class="LI-simple-link" href='https://in.linkedin.com/in/harsh-gupta-b24a93185?trk=profile-badge'>Harsh Gupta</a></div>
				<div class="LI-profile-badge"  style="float:left;width:23%;margin:1%;" data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="harsh-gupta-b24a93185"><a class="LI-simple-link" href='https://in.linkedin.com/in/harsh-gupta-b24a93185?trk=profile-badge'>Harsh Gupta</a></div>
				<div class="LI-profile-badge"  style="float:left;width:23%;margin:1%;" data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="harsh-gupta-b24a93185"><a class="LI-simple-link" href='https://in.linkedin.com/in/harsh-gupta-b24a93185?trk=profile-badge'>Harsh Gupta</a></div>
		</div>
		</div>
		<div class='text-center text-white'><a href="https://icons8.com/icon/qGGl2WuDAF0Z/brief">Brief icon by Icons8</a></div>
		<div class='text-center text-white'><a href="https://icons8.com/icon/104229/project">Project icon by Icons8</a></div>

	</body>
</html>